#saludoDoble {
    font-size: 2em;
}

#saludoTriple {
    font-size: 3em;
}

#saludoTriplePorcentual {
    font-size: 300%;
}
/*
div{
    border: 3px dotted red;
}
*/

div {
    border-color: red;
    border-width: red;
    border-style: dashed;
}

p {
    background-color: violet;
    width: 50vw;
    height: 50vh;
}

#noticia {
    padding: 1em;
    background-color: wheat;
}